#search-box{
    margin-top: 5px;
    width: 20rem;
    height: 5vh;
    border-radius: 12px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid black;
    background-color: transparent;
}


input#search-text{
    width: 16rem;
    height: 8vh;
    outline: none;
    text-align: start;
    border: transparent;
    background-color: transparent;
    border-radius: 12px;
}

input[type="text"]::placeholder{
    color: black;

}

#search-icon{
    align-items: end;
    justify-content: center;
    margin: 10px;
}
