<div id="add-benefit-modal">
    <div id="add-benefit-modal-title">
        Add employee Benefit
    </div>
    <div 
    id="add-benefit-modal-content"
    *ngIf="empData | async as empData">
        <app-dropdown 
        *ngIf="empBenefitList | async as empBenefitList"
        [empData]="empData"
        [empBenefits]="empBenefitList"
        [benefits]="allBenefitList"/>
    </div>
    <div id="add-benefit-modal-action-btns">
        <div id="add-benefit-modal-close-btn"
        (click)="onClose()">
            Cancel
        </div>
        
        <div id="add-benefit-modal-submit-btn"
        (click)="onSubmit()">
            Submit
        </div>

    </div>
</div>
