<div>
    <div id="card-header">
        Benefit card content
    </div>
    <div id="title">
        {{data.benefit_name}}
    </div>
    <div id="subTitle">
        Description : 
        {{data.description}}
    </div>
    <div id="details">
        <div id="beneficiary-name">
            Beneficiary : 
            {{data.beneficiary_name}}
        </div>
        <div id="beneficiary-name">
            Beneficiary designation: 
            {{data.beneficiary_desc}}
        </div>
        <div id="beneficiary-cost">
            Beneficiary cost: 
            {{data.beneficiary_cost}}
        </div>
        <div id="beneficiary-duration">
            Beneficiary duration: 
            {{data.beneficiary_duration_months}} months
        </div>
    </div>
</div>