<!-- <div *ngIf="isLoading; else content">
    <app-app-loader/> 
 </div> -->


<!-- <ng-template #content> -->
    <div id="page-header">
        <u>
            Add employee benefits
        </u>
            
    </div>
    <div id="benefits-emp-details-div">
        <div id="benefits-emp-div">
            <app-benefit-component/>
            <app-employee-listing-component/>
        </div>
        <div id="details-div">
            <app-details-card-component/>
        </div>
    </div>
<!-- </ng-template> -->
