<div>
  <div id="card-header">
      Employee details
  </div>
  <div 
  id="title"
  *ngIf="empData | async as empData">
      {{empData[0].first_name}} {{empData[0].last_name}}
  </div>
  <div 
  id="details"
  *ngIf="empBenefitList | async as empBenefitList">
      <div id="benefit-name">
          Benefit  : 
          {{empBenefitList[0].benefit_name}}
      </div>
      <div id="benefit-cost">
          Benefit-cost : 
          {{empBenefitList[0]}}
      </div>
  </div>
  <div 
  id="add-benefit-btn"
  (click)="onAddBenefitBtnTap()">
        Add benefit
  </div>
</div>