<div id="details-div">
    <div id="details-div-header">
        Details section
    </div>
    <div id="details-content-div">
        <div 
        id="init-stage-no-data-img"
        *ngIf="(isInitStage$ && isNoData$ | async) else showDataTemplate">
            <figure>
                    <img src={{noDataAssetPath}} alt="no-data-img">
                    <figcaption>
                        No data found!
                    </figcaption>
            </figure>
        </div>
    </div>
</div>

<ng-template #showDataTemplate>
    <div *ngIf="isBenefitCardTapped$ | async else showEmpDataTemplate">
        <div *ngIf="benefitData$ | async as benefitData else noDataTemplate">
            <app-benefit-content [data]="benefitData[0]"/>
        </div>
    </div>
</ng-template>

<ng-template #noDataTemplate>
    <figure>
        <img src={{noDataAssetPath}} alt="no-data-img">
        <figcaption>
            No data found!
        </figcaption>
    </figure>
</ng-template>


<ng-template #showEmpDataTemplate>
    <div *ngIf="(isInitStage$ | async) === false">
        <div  
        *ngIf="(empData$) | async as empData else showLoaderTemplate">
            <div>

                <app-emp-content/>

            </div>
        </div>
    </div>

</ng-template>


<ng-template #showLoaderTemplate>
    <div 
    id="details-card-loader-div">
        <app-app-loader/>
    </div>
</ng-template>
