#benefit-card-div{
    width: 15vw;
    height: 28vh;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 12px;
    background-color: pink;
}



#card-content{
    width: 100%;
    height: 80%;
    margin: 10px;
    opacity: 0.5;
    background-color: transparent;    
}

/* #card-image{
    width: 200px;
    height: 100px;
    object-fit: cover;
} */

#benefit-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
}


#benefit-card-desc{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-lines: 3;
    text-overflow: ellipsis;
}