#employee-card{
    width: 200px; 
    height: 200px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: pink;
}

#employee-img-caption{
    width: 100px;
    text-align: center;
}

#emp-logo{
    width: 100px;
    height: 100px;
}


#emp-logo-caption-div{
    text-align: center;
    /* background-color: red; */
}
