#employee-card{
    width: 200px; 
    height: 200px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    border-radius: 12px;
    cursor: pointer;
    
    /* lightSlate with opacity 0.5 */
    background-color: rgba(119, 136, 153, 0.5);
    
    
}

#employee-img-caption{
    width: 100px;
    text-align: center;
}

#emp-logo{
    width: 100px;
    height: 100px;
}


#emp-logo-caption-div{
    text-align: center;
    /* background-color: red; */
}
