
ul{ 

    list-style: none;
    margin: 0;
}

#employee-listing-parent-div{
    width: 60vw;
    height: auto;
    /* background-color: purple; */
}



#employees-header-div{
    width: auto;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, yellow, grey);
}

#search-box-div{
    display: flex;
    justify-content: center;
}


#employee-listing{
    width: auto;
    height: auto;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    display: flex; 
    background-color: transparent;
}

#employee-listing-div{

    margin: 5px 5px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px black solid;
}


#emp-list-empty-img{
    display: flex;
    justify-content: center;

}
