#benefits-div-header{
    width: 60vw;
    height: 5vh;
    display: grid;
    align-items: center;
    background-color: brown;
    justify-content: center;
}


ul{
    padding: 0;
    margin: 0;
    display: flex; 
    list-style: none;
}

#benefits-div{
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    /* background-color: purple; */
}

#benefits-listing-div{
    width: 59vw;
    margin: 5px 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    border: 2px black solid;
    border-radius: 12px;
    
    /* background-color: red; */
}
