#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-loader{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid blue;
    background-color: red;
    border-radius: 50%;
    animation: resize 1s infinite alternate;
}

#inner-div{
    width: 5rem;
    height: 5rem;
    /* background-color: yellow; */
    border-radius: 50%;
}

@keyframes resize {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}